@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansRegular.woff2') format('woff2'),
        url('../fonts/OpenSansRegular.woff') format('woff'),
        url('../fonts/OpenSansRegular.ttf') format('truetype'),
        url('../fonts/OpenSansRegular.svg#Open Sans Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansBold.woff2') format('woff2'),
        url('../fonts/OpenSansBold.woff') format('woff'),
        url('../fonts/OpenSansBold.ttf') format('truetype'),
        url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
